html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, "Microsoft YaHei", Heiti, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #7a7a7a;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    background-color: #edeae3;
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.user-info {
  background-color: #edeae3;
  padding-bottom: 16px;
  padding-top: 16px;
}
.thumbnail {
    position: relative;
    background-color: #edeae3;
    border:none !important;
}

.caption {
    position: absolute;
    text-align: center;
    left: 10%;
    right: 10%;
    top: 48%;
    opacity: 0.78;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top:20%\9;
  }

.circle {

}
#circleBox h2 , #circleBox h1 {
  font-weight: bold;
}
#circleBox h1 , #circleBox h1 small, #circleBox h2 , #circleBox h2 small, #circleBox h4 {
  color: #FFFFFF;
}

#inviteBtn {
  border-radius: 35px;
  background-color: #73c6c8;
  border-color: #73c6c8;
  padding-left: 24px;
  padding-right: 24px;
}

.invitedQty {
  color: #73c6c8;
}


.table {
  background-color: #FFFFFF;
  border-color: transparent;

}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table img {
  max-width: 50px;
  border-radius: 100%;
}

.table td, .table th {
    border: none;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: none !important;
    border-bottom: none !important;
          }
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

.table>tbody>tr>td:first-child {
  padding-left: 16px;
  max-width: 66px;
}

.table>tbody>tr>td:last-child {
  color: #a09f9d;
  text-align:right;
  font-size: 30px;
  padding-right: 16px;
}
.footer {
  background-color: #edeae3;
  color: #7a7a7a;
  text-align: center;
  position: relative;
  clear:both;
  margin: 16px;
}

.topTooltip {
    display: block;
    top: 0;
    max-width: 680px;
    max-height: 208px;
    position: absolute;
    z-index: 99999;
}


@media screen and (max-width: 320px ) {
  .table h4 {
    font-size:18px;
  }
  h5 {
    font-size:14px;
  }
  .btn-lg, .btn-group-lg>.btn {
    font-size:18px;
  }
}

@media screen and (max-width: 320px ) {
  .table h4 {
    font-size:14px;
  }
  h5 {
    font-size:12px;
  }
  .btn-lg, .btn-group-lg>.btn {
    font-size:14px;
  }
}
