html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", STXihei, STHeiti, "Microsoft YaHei", Heiti, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    /*overflow-y: hidden;*/
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html, body {
    -ms-touch-action: none;

    height: 100%;
    margin: 0px;
    max-height: 100%;
    background: #EFEFEF;
}

.mainContent {
    min-width: 100%;
    width: 100%;
    margin: 0;
    min-height: 70%;
    height: 70%;
    max-height: 70%;
    position: relative;
    top: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

}

#stepsCanvas {
    height: auto;
    width: 100%;
    padding-top: 16px;
    margin-right: auto;
    margin-left: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#chartContainer{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: auto;
    width: 100%;
    /*padding-top: 16px;*/
    margin-right: auto;
    margin-left: auto;
}

.mainContent .container {
    width: 100%;
}

.avatar {
    border-radius: 100%;
    width: 80px;
    position: relative;
    border: 2px solid #E3E3E3;
    z-index: 99999;
}



/*@media only screen and (max-width: 1199px) {*/
    /*.standard-space {*/
        /*padding-top: 32px;*/
    /*}*/
/*}*/

#topLoader {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 999;
    left: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    /* 50%为自身尺寸的一半 */
}



.btn {
    padding: 18px 16px 18px 16px;
    color: #939292;
    font-size: 12px;
}

.button_ctr {
    border: 0px solid #26759E;
    -webkit-box-shadow: #B4B5B5 0px 2px 10px;
    -moz-box-shadow: #B4B5B5 0px 2px 10px;
    box-shadow: #B4B5B5 0px 2px 10px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.76) 0%, rgba(246, 245, 245, 0.76) 100%);
    box-shadow: 0 4px 4.9px 0.1px rgba(0, 0, 1, 0.05);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0.76) 51%, rgba(246, 245, 245, 0.76) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0.76) 51%, rgba(246, 245, 245, 0.76) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 50%, rgba(255, 255, 255, 0.76) 51%, rgba(246, 245, 245, 0.76) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-left {
    text-align: left !important;
    padding-right:64px !important;

}

.btn-right {
    text-align: right !important;
    padding-left:64px  !important;;
}

#scroller {
    position: absolute;
    z-index: 999;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;

    background: #EFEFEF;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
}

.lhsTitle {
    float: left;
    color: #ffffff;
}

.rhsTitle {
    float: right;
    color: #ffffff;
}

.highcharts-title {
    width: 97%;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
}

#chartContainer img {
    border-radius: 100%;
    width: 40px;
    position: relative;
    border: 2px solid #E3E3E3;
    z-index: 99999;
}

#ctrBtns {
    padding-top: 32px;
    height: 60px;
    background-color: #EFEFEF;
}

@media only screen and (min-width: 320px ),screen and (min-height: 480px) {
    .standard-space {
        padding-top: 16px;
    }
    #ctrBtns {
        padding-top: 16px;
    }
    .avatar {
        border-radius: 100%;
        width: 40px;
    }
    .mainContent {
        min-height: 76%;
        height: 76%;
        max-height: 76%;
        top: 24%;
    }
}


@media only screen and (min-width: 320px ),screen and (min-height: 568px) {
    .standard-space {
        padding-top: 16px;
    }
    #ctrBtns {
        padding-top: 48px;
    }
    .avatar {
        border-radius: 100%;
        width: 70px;
    }
    .mainContent {
        min-height: 70%;
        height: 70%;
        max-height: 70%;
        top: 30%;
    }
}

@media only screen and (min-width: 375px),screen and (min-height: 627px) {
    .standard-space {
        padding-top: 24px;
    }
    #ctrBtns {
        padding-top: 36px;
    }
    .avatar {
        border-radius: 100%;
        width: 70px;
    }
    .mainContent {
        min-height: 70%;
        height: 70%;
        max-height: 70%;
        top: 30%;
    }
}

@media only screen and (min-width: 414px),screen and (min-height: 736px) {
    .standard-space {
        padding-top: 24px;
    }
    #ctrBtns {
        padding-top: 48px;
    }
    .avatar {
        border-radius: 100%;
        width: 70px;
    }
    .mainContent {
        min-height: 70%;
        height: 70%;
        max-height: 70%;
        top: 30%;
    }
}
